.user-component {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    position: relative;
}

.user-component__column {
    display: flex;
    align-items: center;
    padding-right: 15px;
}


.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.user-component__time {
    margin-bottom: 5px;
    font-size: 13px;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin: 5px 15px 5px 15px;
}

.user-component__avatar--xl{
    width: 80px;
    height: 80px;
    border-radius: 35px;
    margin: 5px 15px 5px 15px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin: 5px 15px 5px 15px;
}

.user-component__name {
    font-weight: 500;
    font-size: 21px;
}

.user-component__name--xl {
    font-weight: 600;
    font-size: 22px;
}

.user-component__name--sm {
    font-weight: 400;
    font-size: 20px;
}


.user-component__comment {
    margin-top: 7px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
}
